<div class="card">
    <div class="card-header">
      <h3 class="card-title">Menu </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <button class="btn btn-primary" routerLink="/add-menu">Nuevo</button>
      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
        <thead>
        <tr role="row">
          <th>Menu</th>  
          <th>Bar</th>  
          <th>Nombre</th>  
          <th>Plato</th>  
          <th>Descripcion</th>  
          <th>Precio</th>  
          <th>Estado</th>          
          <th>Foto</th>
          <th>Opciones</th>  
        </thead>
        <tbody>

          <tr *ngFor="let item of list" class="table-light">
            <td>{{item.id_menu}}</td>
            <td>{{item.id_bar}}</td>
            <td>{{item.nombre_menu }}</td>
            <td>{{item.plato}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.precio | currency }}</td>
            <td>{{item.estado}}</td>
            <td>{{item.foto}}</td> 
        
            <td>
              <button routerLink="/edit-menu/{{item.id_menu}}" class="btn btn-success btn-sm">Edit</button>
              <button (click)="deleteProduct(item.id_menu!)" class="btn btn-danger btn-sm ms-2">Delete</button>
            </td>
          </tr>         
        
        </tbody>     
      </table>
    </div>
</div> 