<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/"  class="brand-link">
      <img src="assets/icon/restaurant_Unemi.png"  style="height:40px;width:230px;" alt="AdminLTE Logo">
    </a> 
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/icon/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a  class="d-block">{{ user.usuario }}</a>
        </div>
      </div>
 
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/perfil" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Perfil
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
          <li class="nav-item" *ngIf="user.tipo_usuario=='Administrador'">
            <a routerLink="/bar" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Bar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
          <li class="nav-item" *ngIf="user.tipo_usuario=='Administrador'">
            <a routerLink="/empleado" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Empleados
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
          <li class="nav-item">
            <a routerLink="/usuario" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Usuario
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
          <li class="nav-item" *ngIf="user.tipo_usuario=='Administrador'">
            <a routerLink="/menu" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Menu
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
          <li class="nav-item">
            <a routerLink="/reserva" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Reserva
                <i class="fas fa-angle-left right"></i>
              </p>
            </a> 
          </li> 
        </ul>
      </nav>
    </div>
  </aside>